*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.sign-in-btn{
    background: linear-gradient(45deg, #824af8, #b14ffc);
    color: white;
    width: 80%;
}

