*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.logo-nav{
    width: 200px;
}
.lien a{
    color: black;
    font-weight: 500;
    font-size: large;
}
.lien a:hover{
    color: #824af8;
}
.scrollmenu{
    overflow: auto;
    white-space: nowrap;
}
.scrollmenu a{
    color: white;
    font-weight: 500;
    font-size: medium;
    display: inline-block;
}
.scrollmenu a:hover{
    color: #824af8;
}
.login-btn,.sign-up-btn{
    background: rgba(175,79,252,1);
    width: 100%;
    color: white;
    font-weight: 400;
}
.msg-condition{
    font-size: small;
    color: gray;
}
.msg-condition a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
}
.msg-condition a:hover{
    color: #824af8;
}
#user-img{
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-bottom: -5px;
    border-radius: 30px;
    margin-right: 10px;
}
@media screen and (max-width: 1190px) {
    .lien a{
        font-size: medium;
    }
}
@media screen and (max-width: 1120px) {
    .lien a{
        font-size: small;
    }
    .logo-nav{
        width: 150px;
    }
    .scrollmenu a{
        font-size: small;
    }
}